{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block title %} | Password reset {% endblock title%} 
{% block content %}

<div>
  <h3>Forgot your password?</h3>
  <p>
    You are about to reset your password. To complete this process, enter your
    email and request for instrations!
  </p>
  <form method="post">
    {% csrf_token %} 
    {{form|crispy}}

    <input
      type="submit"
      class="btn btn-success btn-sm"
      value="Request instractions!"
    />
  </form>
</div>

{% endblock content %}
